---
room: room-to-reference-for-current-pi
debug: false
maker:
    key: maker-key
rooms:
    example:
       on-event: example-on 
       off-event: eample-off
       high-signal: -50
       low-signal: -70 
whitelist:
    - bleaconidwithouthyphens
