---
room: room-to-reference-for-current-pi
debug: false
timeout: 4000
maker:
    key: maker-key
rooms:
    example:
       on-event: example-on 
       off-event: eample-off
       signal: -70 
whitelist:
    - ma:ct:oa:ll:ow:pi
